<!-- Commnet Details -->
<div class="row mb-4 post">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>
                        Create New Post:
                    </h2>
                </div>
            </div>
            <div class="card-body">
                <form class="new-post-form">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" rows="3" id="title"></input>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" rows="3" id="content"></textarea>
                </div>
                <button type="submit" class="block btn btn-primary add-comment-btn">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/addPost.js"></script>