<!-- postDetails -->
<div class="row mb-4 post">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>
                        &nbsp;
                    </h2>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{comment}}</p>
                <p class="card-text">- {{commenter.username}}, {{format_date date}}</p>
            </div>
        </div>
    </div>
</div>