<!-- Loops over each object in the posts array -->
{{#each posts as |post|}}
    {{> post-details-dash}}
{{/each}}

<div >
    <a href='/newPost'><div id='new-post-btn'> New Post</div></a>
</div>

<script>
    logo = document.querySelector('.logo').innerHTML = 'Your Dashboard';
</script>