<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Login</h5>
        <div class="card-body">
          <form class="login-form">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
            <button type="submit" class="block btn btn-primary">Login!</button>
          </form>
        <div>
          <a href="/signup" id="dark-link">Sign up instead</a>
        </div>     
        </div>
      </div>        
  </div>
</div>

<script src="./js/login.js"></script>