{{!-- Signup Page --}}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Sign Up</h5>
        <div class="card-body">
          <form class="signup-form">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
              <button type="submit" class="block btn btn-primary">Sign Up!</button>
            </form> 
                <a href="/login" id="dark-link">Login instead</a>       
            </div>
        </div>        
    </div>
</div>

<script src="./js/signup.js"></script>